body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 199, 95);
    background-color: rgb(37, 38, 41);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
}

.main-container {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
    
.flex-row {
    display: flex;
    justify-content: center;
}

.flex-spaced {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    flex-basis: 20%;
    height: auto;
}

.choice {
    align-items: center;
}

#opponent {
    text-align: right;
}

.center-text {
    text-align: center;
}

.standard-box {
    height: 60px;
    margin-bottom: 15px;
}

.emoji {
    height: auto;
}

.separator {
    width: 3px;
    border-radius: 1px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    background-color: rgb(255, 199, 95);
}

.choice-button {
    width: 10%;
    background-color: transparent;
    border: 2px;
    border-color: transparent;
    font-size: xx-large;
}

.choice-button:hover {
    cursor: pointer;
    border-color: rgb(255, 252, 245);
}

.choice-button:focus {
    border-color: rgb(255, 199, 95);
}

.standard-button {
    background-color: rgb(255, 199, 95);
    border: 0;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.standard-button:hover {
    cursor: pointer;
}

.green-text {
    color: rgb(16, 255, 123);
}

.red-text {
    color: rgb(255, 59, 59);
}

.hidden {
    display: none;
}

#footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}